* {
    box-sizing: border-box;
}

#container {
    padding: 10px;
}

#verde {
    width: 970px;
    height: 100px;
    margin: 10px;
    background-color: green;
}

#azul {
    width: 250px;
    height: 300px;
    margin: 10px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}

#rojo {
    width: 685px;
    height: 433px;
    margin: 10px;
    padding: 9px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
}

.box1 {
    width: 199px;
    height: 190px;
    margin: 10px 10px 20px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
}

#morado {
    width: 970;
    height: 100px;
    margin: 10px;
    background-color: blueviolet;
}

@media screen and (max-width: 1024px) {
    /* For laptop: */
    .container {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (min-width:481px) and (max-width: 1023px) {
    /* For Tablet: */
    #verde {
        width: 100%;
        padding: 10px;
    }
    #azul {
        width: 0%;
        height: 0%;
    }
    #rojo {
        width: 100%;
        height: auto;
    }
    .box1 {
        width: 46%;
    }
}

@media screen and (max-width: 480px) {
    /* For phone: */
    #verde {
        width: 100%;
        padding: 10px;
    }
    #azul {
        width: 0%;
        height: 0%;
    }
    #rojo {
        width: 100%;
        height: auto;
    }
    .box1 {
        width: 95%;
    }
    #morado {
        width: 100%;
    }
}